@import 'colors';
@import 'iconfont';
@import 'screenreader';
@import 'media';
@import 'alert';

.social-media {
  font-size: 1.5rem;

  a {
    margin-right: 1rem;
    color: $grey1;
  }
}

.post-title, .project-title, .project-roles {
  margin-bottom: 0;
}

.projects-more {
  margin-top: 1.2rem;
}

.project-image {
  margin-bottom: 1.2rem;
  max-width: 100%;
}

.recent-posts {
  font-size: 1.1rem;
  list-style-type: none;

  a {
    color: $grey1;
  }
}

.mauticform-row {
  display: inline-block;
}
